<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
    <style>
        .no-tables{
            color: red;
        }
    </style>
</head>
<body>
    <header>
        <h1>Database</h1>
        <a href={{.DisconnectPath}}>disconnect</a>
    </header>
    <form action="/" name="schemaForm" method="GET">
        <select name="schema" onchange="schemaChanged()">
            {{range .Schemas}}
            
                <option value="{{.SchemaName}}"
                    {{if eq $.CurrentSchema .SchemaName}}
                        selected
                    {{end}}
                >{{.SchemaName}}</option>
            {{end}}
        </select>
    </form>
    {{if .Tables}}
        <h5>-Showing tables for '{{.CurrentSchema}}' schema:</h5>
        <ul class="tables">
            {{range  .Tables}}
                <li class="table"><a alt="" href="/table?name={{.Name}}" >{{.Name}}</a></li>
            {{end}}
        </ul>
    {{else}}
        <div class="no-tables">-Schema '{{.CurrentSchema}}' has no tables</div>
    {{end}}
    <script type="application/javascript">
        {{if .SaveConnectionLocally}}
            const itemName = "{{.ItemName}}";
            function reviver(key,value){
                if (typeof value == 'object' && value != null && value.type === "Map"){
                    return new Map(value.data);
                }
                return value;
            }
            function replacer(key,value){
                if (value instanceof Map){
                    return{ 
                        type:"Map",
                        data:Array.from(value.entries())
                    };
                }else{
                    return value;
                }
            }
            let localStorage = window.localStorage;
            let connectionsItem = localStorage.getItem(itemName)
            let connections = undefined
            if (connectionsItem){
                connections = JSON.parse(connectionsItem,reviver)
                console.log("Item",connections)
            }else{
                connections = new Map()
            }
            const driver = {{.Driver}}
            const username = {{.Username}}
            const dbname = {{.DBname}}
            const password = {{.Password}}
            const port = {{.Port}}
            const host = {{.Host}}
            const key =`User: ${username}, DB: ${dbname}, Host: ${host}, Port: ${port} (${driver})`
            const newItem = {
                driver:driver,
                username:username,
                dbname:dbname,
                password:password,
                host:host,
                port:port,
            };
            connections.set(key,newItem)
            let item = JSON.stringify(connections,replacer)
            localStorage.setItem(itemName,item)
            // console.log("Item",localStorage.getItem("connections"))
        {{end}}
        function schemaChanged(){
            document.schemaForm.submit()
        }
    </script>
</body>
</html>